.snows{
    position: relative;
    bottom: 30px;
}

.littleSnow1 {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  position: relative;
  bottom: 15px;
  right: 60px;
}
.littleSnow2 {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  position: relative;
  bottom: 15px;
  right: 50px;
}

.littleSnow3 {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  position: relative;
  bottom: 10px;
  right: 60px;
}

.snow1 {
  width: 80px;
  height: 30px;
  background-color: #fff;
  border-radius: 70%;

  position: relative;
  bottom: 25px;
  right: 50px;
}
.snow2 {
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 90%;
  position: relative;
  bottom: 45px;
}
.snow3 {
  width: 89px;
  height: 50px;
  background-color: #fff;
  border-radius: 80%;
  position: relative;
  bottom: 85px;
  left: 60px;
}
