.table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-4 {
  max-width: 60%;
  margin-left: 20%;
  flex-wrap: wrap;
}

.table-16{
    max-width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
}